.navbar-brand {
padding: 5px 15px;
}
.navbar {
  margin-bottom: 0px;
}
#profile_image
{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 30px;
    margin-left: 10px;
}

#content {
  color: white;
}
.badge {
  background-color: red;
  padding: 4px 4px;
  position: absolute;
  right:73px;
  top:4px;
}
.color {
  background-color: red;
}
