body {

}
.navbar-brand {
padding: 5px 15px;
}
#profile_image
{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 30px;
    margin-left: 10px;
}
#content {
  color:white;
}
.ct-label{
  font-size: 16em;
}
