body {
background: #E6DADA; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E6DADA , #274046); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E6DADA , #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-brand {
padding: 5px 15px;
}
#profile_image
{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 30px;
    margin-left: 10px;
}
#content {
  color:white;
}
