@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
table {
  width: 100%;
}
.navbar-brand {
  padding: 5px 15px;
}
.navbar {
  margin-bottom: 5px;
}
.nav-tabs {
  margin-bottom: 5px;
}
#profile_image
{
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 30px;
  margin-left: 10px;
}
#content {
  color:white;
}
#pageCounter {
	display: inline-block;
	margin-top: 10px;
}
#paginator_top {
  float:right;
  display: inline-block;
}
#paginator_bottom {
  float:right;
  display: inline-block;
}
.pagination {
	margin: 5px 0px;
	float: right;
}
#page_controller {
  float:right;
}
#action_buttons {
  display: inline-block;
  margin-left: 5px;
}
