<ul class="nav navbar-nav">
  <li ng-class="home"><a href="/users/admin/admin_page.php">Home<span class="sr-only">(current)</span></a></li>
  <li ng-class="users"><a href="/users/admin/manageUsers.php">Users</a></li>
  <li ng-class="orders"><a href="/users/admin/orders.php">Orders</a></li>
  <li ng-class="stock"><a href="/users/admin/stock.php">Stock</a></li>
  <li ng-class="stockTake"><a href="/users/admin/stockTake.php">Stock Events</a></li>
  <li ng-class="makelist"><a href="/users/admin/makelist.php">Makelist</a></li>
  <li ng-class="metrics"><a href="/users/admin/metrics.php">Metrics</a></li>
  <li ng-class="purchase_list"><a href="#">Purchase list</a></li>
  <li ng-class="upload"><a href="/users/admin/upload.php">Upload</a></li>
</ul>
